<div
  class="bg-sidebar d-flex flex-column h-100 p-3"
  style="width: 260px; z-index: 10; box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1)"
>
  <ul class="nav flex-column mb-auto mt-2 gap-2">
    <li class="nav-item">
      <a
        routerLink="/estudiantes"
        routerLinkActive="active"
        class="d-flex align-items-center text-decoration-none text-sidebar-link"
      >
        <i class="bi bi-people-fill me-3 fs-5"></i>
        <span>Estudiantes</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/cursos"
        routerLinkActive="active"
        class="d-flex align-items-center text-decoration-none text-sidebar-link"
      >
        <i class="bi bi-journal-bookmark-fill me-3 fs-5"></i>
        <span>Cursos</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/inscripciones"
        routerLinkActive="active"
        class="d-flex align-items-center text-decoration-none text-sidebar-link"
      >
        <i class="bi bi-card-checklist me-3 fs-5"></i>
        <span>Inscripciones</span>
      </a>
    </li>
  </ul>
</div>
